* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.loading-bar-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 72px;
  background-color: #1a1805;
  align-content: center;
  text-align: center;
  transition:  background-color 2s;
  will-change: background-color;
  overflow: hidden;

}
.loading-bar {
  background-color: #1a1805;
  color: #adadad;
  transform: translateX(-25%) scale(-1, 1);
  transition: transform 0.2s, background-color 2s;
  will-change: transform, background-color;
}
/* CSS */
.button-79 {
  backface-visibility: hidden;
  background-color: #042c7100;
  border: 0;
  border-radius: .375rem;
  box-sizing: border-box;
  color: #ffffff00;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 1rem 1.25rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s,  background-color 1s;
  will-change: transform, background-color;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: auto;
}

.button-79:disabled {
  color: #787878;
  cursor: auto;
}

.button-79:not(:disabled):hover {
  transform: scale(1.05);
}

.button-79:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-79:focus {
  outline: 0 solid transparent;
}

.button-79:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-79:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-79:not(:disabled):active {
  transform: translateY(.125rem);
}